.top-border-line {
    border-style: solid;
    border-width: 0 0 1rpx 0;
    border-color: rgba(230, 230, 230, 0.7);
    opacity: 1;
}

.wrap-global-block {
    /* padding-top: 16rpx; */
    position: absolute;
    top: 185rpx;
    background-color: #F9F9F9;
    margin-top: 16rpx;
    height: 100%;
}

.scroll-view-style {
    width: 86%;
    height: 104.1rpx;
    white-space: nowrap;
    padding-left: 16rpx;
}

.tag-btn-style {
    margin: 23rpx 28rpx 16rpx 0;
    padding: 7rpx 8rpx 7rpx 8rpx;
    display: inline-block;
    font-size: 28rpx;
    width: 144rpx;
    height: 48rpx;
    color: #F55E68;
    background-color: white;
    border-radius: 50rpx;
    text-align: center;
    line-height: 48rpx;
}

.on {
    color: white !important;
    background-color:#F55E68 !important;
    box-shadow: 0rpx 3rpx 8rpx rgba(243, 84, 106, 0.39);
}

.gray-card-area {
    overflow: hidden;
    margin-bottom: 16rpx;
    background: white;
    width: 720rpx;
    margin-left: 15rpx;
    box-shadow: 0rpx 3rpx 20rpx rgba(0, 0, 0, 0.06);
    border-radius: 20rpx;
}

.card-scroll-view-style {
    height: 176rpx;
}

.red-card-area {
    overflow: hidden;
    margin: 0 14rpx 16rpx 16rpx;
    width: 690rpx;
    height: 176rpx;

    background: #F9E7E7;
    box-shadow: 0rpx 3rpx 10rpx rgba(245, 94, 104, 0.1);
    opacity: 1;
    border-radius: 20rpx;
}

.black-card-area {
    overflow: hidden;
    margin: 0 14rpx 16rpx 16rpx;
    width: 690rpx;
    height: 176rpx;

    background: #E6E6E6;
    box-shadow: 0rpx 3rpx 10rpx rgba(112, 112, 112, 0.1);
    opacity: 1;
    border-radius: 20rpx;
}

.blue-card-area {
    overflow: hidden;
    margin: 0 14rpx 16rpx 16rpx;
    width: 690rpx;
    height: 176rpx;

    background: #E7F8F3;
    box-shadow: 0rpx 3rpx 10rpx rgba(73, 202, 193, 0.1);
    opacity: 1;
    border-radius: 20rpx;
}

.userinfo-message {
    display: flex;
    /* justify-content: space-between; */
    align-items: center;
    width: 60%;
}

.userinfo-avatar {
    margin: 32rpx 16rpx 16rpx 16rpx;
    border-radius: 50%;
    width: 80rpx;
    height: 80rpx;
}

.userinfo-nickname {
    display: block;
    color: #3D3535;
    width: 300rpx;
    height: 24rpx;
    font-size: 24rpx;
    font-family: Source Han Sans CN;
    font-weight: 400;
    margin: 40rpx 0 16rpx 0;
}

.userinfo-time {
    display: block;
    color: #B4B4B4;
    width: 150rpx;
    height: 20rpx;
    font-size: 20rpx;
    font-family: Source Han Sans CN;
    font-weight: 400;
    opacity: 1;
}

.userinfo-block {
    margin: 0;
    height: 100%;
}

.userinfo-global-block {
    display: flex;
    height: 126rpx;
    /* justify-content: space-between; */
}

.userinfo-like {
    display: flex;
    justify-content: flex-end;
    width: 40%;
    /* background: #F55E68 url('../../images/tag/1.png') no-repeat top right; */
}

.button-box {
    display: flex;
    height: 100%;
    align-items: center;
    padding-right: 28rpx;
}

.custom-class-mixture {
    margin-right: 29rpx;
}

.record-item {
    display: flex;
    width: 100%;
}

/* .record-item:first-of-type > .record-item-img {
    margin-top: 16rpx;
}

.record-item:first-of-type > .record-item-text {
    margin-top: 26rpx;
} */

.record-item-subtitle {
    display: flex;
    width: 95%;
    color: #808080;
    margin-left: 30rpx;
    margin-bottom: 15rpx;
    /* margin-right: 30rpx; */
    /* white-space: pre-wrap; */
}

.record-item-img {
    display: flex;
    margin: 16rpx 16rpx 0 16rpx;
    border-radius: 50%;
    width: 48rpx;
    height: 48rpx;
    align-items: center;
    justify-content: center;
    opacity: 1;
}

.record-item-img-src {
    width: 48rpx;
    height: 48rpx;
    border-radius: 100%;
}

.record-item-text {
    display: flex;
    margin-top: 26rpx;
    align-items: center;
    justify-content: center;

    height: 28rpx;
    font-size: 28rpx;
    font-family: Source Han Sans CN;
    font-weight: 400;
    line-height: 28rpx;
    color: #3D3535;
    opacity: 1;
}

.record-item-image-cnt-block {
    display: flex;
    width: 40rpx;
    height: 24rpx;

    opacity: 1;
    border-radius: 4rpx;
    margin: 29rpx 0 0 15rpx;
    /* padding: 5rpx 6rpx 5rpx 6rpx; */
}

.record-item-multi-image {
    margin: 5rpx 6rpx 6rpx 6rpx;
    width: 13rpx;
    height: 14rpx;
}

.record-item-multi-image-cnt {
    width: 10rpx;
    height: 24rpx;
    font-size: 18rpx;
    font-family: Source Han Sans CN;
    font-weight: 400;
    line-height: 24rpx;
    color: #FFFFFF;
    letter-spacing: 100rpx;
    opacity: 1;
}

.detail-view {
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    background-color: #333333d1;
    display: flex;
    align-items: flex-end;
    align-content: center;
    z-index: 100;
}

.detail-card-area {
    overflow: hidden;
    margin: 0 auto;
    position: fixed;
    top: 15%;
    left: 30rpx;
    border-radius: 20rpx;
    background: #FFF;
    display: block;
    width: 689rpx;
    height: 1008rpx;
    align-items: center;
    justify-content: space-between;
}

.detail-userinfo-global {
    width: 100%;
    display: flex;
}

.detail-userinfo-message {
    display: flex;
    /* justify-content: flex-start; */
    align-items: center;
    width: 60%;
}

.detail-swiper {
    height: 100%;
    border-radius: 8px 8px 0 0;
}

.detail-card-color-0 {
    background: #F9E7E7;
}

.detail-card-color-1 {
    background: #E6E6E6;
}

.detail-card-color-2 {
    background: #E7F8F3;
}

.detail-button-box {
    display: flex;
    justify-items: flex-end;
    height: 100%;
    align-items: center;
    padding-right: 32rpx;
}

.detail-record-item-img {
    display: flex;
    margin: 16rpx 16rpx 16rpx 17rpx;
    border-radius: 50%;
    width: 48rpx;
    height: 48rpx;
    align-items: center;
    justify-content: center;
    opacity: 1;
}

.detail-record-item-text {
    display: flex;
    margin-top: 26rpx;
    align-items: center;
    justify-content: center;

    height: 28rpx;
    font-size: 28rpx;
    font-family: Source Han Sans CN;
    font-weight: 400;
    line-height: 48rpx;
    color: #3D3535;
    opacity: 1;
}

.detail-record-item-subtitle {
    display: flex;
    width: 95%;
    margin: 16rpx 0 16rpx 17rpx;
    font-size: 24rpx;
    font-family: Source Han Sans CN;
    font-weight: 400;
    line-height: 41rpx;
    color: #707070;
    opacity: 1;
}

.image-items {
    width: 656rpx;
    /* height: 304rpx; */
    margin: 0 16rpx 8rpx 17rpx;
    display: inline-block;
    background: white;
}

.smt-feed {
    height: 100%;
    display: block;
    background-color: #fff;
}

.card-area-block {
    margin-top: 8rpx;
    /* margin-bottom: 32rpx; */
}

.card-share-image {
    width: 32rpx;
    height: 32rpx;
}

.collapse-view-point {
    width: 10%;
    height: 8.05rpx;
    padding: 36rpx 46rpx 36rpx 20rpx;
}

::-webkit-scrollbar {
    width: 0;
    height: 0;
    color: transparent;
}

@-webkit-keyframes fadeIn {
	0% {
	    opacity: 0;
    }
    20% {
        opacity: .2;
    }
	50%{
		opacity: .5;
    }
	100% {
		opacity: 1; /*结尾状态 透明度为1*/
	}
}

.extend-tag-board {
    -webkit-animation-name: fadeIn; /*动画名称*/
	-webkit-animation-duration: 0.2s; /*动画持续时间*/
	-webkit-animation-iteration-count: 1; /*动画次数*/
	-webkit-animation-delay: 0s; /*延迟时间*/
}

.transparnt-view {
    position: absolute;
    right: 10%;
    background: linear-gradient(90deg, rgba(249, 249, 249, 0) 0%, #F9F9F9 100%);    z-index: 50;
    width: 8%;
    height: 104.1rpx;
}

.tag-choose-global-block {
    position: fixed;
    top: 40px;
    bottom: 0;
    right: 0;
    left: 0;
    background-color: #333333d1;
    display: flex;
    align-items: flex-end;
    align-content: center;
    z-index: 100;
}

.tag-choose-board {
    position: fixed;
    top: 40px;
    height: 411rpx;
    width: 100%;
    background: #FFFFFF;
    opacity: 1;
}

.extend-tag-btn-style {
    margin: 32rpx 0 0 22rpx;
    padding: 7rpx 8rpx 7rpx 8rpx;
    display: inline-block;
    font-size: 28rpx;
    width: 144rpx;
    height: 48rpx;
    border-radius: 30rpx;
    text-align: center;
    line-height: 48rpx;
    color: #F55E68;
    background-color: white;
}

.publish-add-icon {
    margin: 35.5rpx 34.7rpx 30.1rpx 26rpx;
}

.empty-share-list {
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.empty-share-text {
    font-size: 32rpx;
    font-family: Source Han Sans CN;
    font-weight: 400;
    color: #B4B4B4;
}

.prevent-scroll-style {
    width: 100%;
    height: 100%;
    overflow: hidden;
    position: fixed;
    z-index: 0;
}

.comment-area-block {
    margin: 2rpx 16rpx 14rpx 16rpx;
}

.comment-intro-line {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.comment-gray-text {
    font-size: 24rpx;
    font-family: Source Han Sans CN;
    font-weight: 400;
    line-height: 41rpx;
    color: #B4B4B4;
    opacity: 1;
}

.show-all-view-block {
    display: flex;
}

.show-all-arrow-block {
    margin-left: 9rpx;
    padding: 4rpx 0 5rpx 0;
}

.brief-comment-content-line {
    width: 100%;
}

.brief-comment-name {
    font-size: 28rpx;
    font-family: Source Han Sans CN;
    font-weight: 500;
    color: #3D3535;
    opacity: 1;
}

.brief-comment-content {
    margin-left: 24rpx;
    font-size: 28rpx;
    font-family: Source Han Sans CN;
    font-weight: 400;
    line-height: 48rpx;
    color: #3D3535;
    opacity: 1;
}