.wrap-global-block {
    display: flex;
    position: absolute;
    top: 237rpx;
    /* height: 60%; */
    height: 60%;
    padding: 0;
}

.top-border-line-0 {
    border-style: solid;
    border-width: 0 0 1rpx 0;
    border-color: #F5ECEC;
    opacity: 1;
}

.top-border-line-1 {
    border-style: solid;
    border-width: 0 0 1rpx 0;
    border-color: rgba(180, 180, 180, 0.2);
    opacity: 1;
}

.top-border-line-2 {
    border-style: solid;
    border-width: 0 0 1rpx 0;
    border-color: rgba(169, 235, 231, 0.2);
    opacity: 1;
}

.tab-choose-view {
    display: flex;
    justify-content: space-between;
    margin: 24rpx 30rpx 12rpx 32rpx;
    height: 111rpx;
}

.scroll-view-style {
    /* position: fixed; */
    width: 86%;
    height: 60rpx;
    white-space: nowrap;
}

.tag-choose-view {
    display: flex;
    height: 65rpx;
    align-items: center;
    margin: 9rpx 0 16rpx 32rpx;
}

.tab-btn-view {
    border-radius: 20rpx;
    border-style: solid;
    border-width: 1rpx;
    text-align: center;
    display: inline-block;
    width: 208rpx;
    height: 88rpx;
    line-height: 88rpx;
    font-size: 36rpx;
    font-family: Source Han Sans CN;
    font-weight: 400;
    opacity: 1;
}

.tab-btn-0 {
    color: #707070;
    background-color: #F9E7E7;
    border-color: #F9E7E7;
}

.tab-btn-1 {
    color: #707070;
    background-color: #E6E6E6;
    border-color: #E6E6E6;
}

.tab-btn-2 {
    color: #707070;
    background-color: #E7F8F3;
    border-color:  #E7F8F3;
}

.tab-on-0 {
    color: white;
    background-color: #F55E68;
    border-color: #F55E68;
    box-shadow: 0rpx 4rpx 10rpx rgba(161, 8, 8, 0.4);
}

.tab-on-1 {
    color: white;
    background-color: #707070;
    border-color: #707070;
    box-shadow: 0rpx 4rpx 10rpx rgba(112, 112, 112, 0.4);
}

.tab-on-2 {
    color: white;
    background-color: #49CAC1;
    border-color: #49CAC1;
    box-shadow: 0rpx 4rpx 10rpx rgba(73, 202, 193, 0.4);
}

.tag-btn-view {
    display: inline-block;
    width: 144rpx;
    height: 56rpx;
    line-height: 56rpx;
    border-radius: 50rpx;
    border-style: solid;
    border-width: 1rpx;
    opacity: 1;
    font-size: 28rpx;
    font-family: Source Han Sans CN;
    font-weight: 400;
    text-align: center;
    margin: 0 32rpx 0 0;
    /* padding: 7rpx 8rpx 7rpx 8rpx; */
    background-color: white;
}


.tag-btn-0 {
    color: #F55E68;
    border-color: #F55E68;
}

.tag-btn-1 {
    color: #707070;
    border-color: #707070;
}

.tag-btn-2 {
    color: #49CAC1;
    border-color: #49CAC1;
}

.tag-on-0 {
    color: white;
    background-color: #F55E68;
}

.tag-on-1 {
    color: white;
    background-color: #707070;
}

.tag-on-2 {
    color: white;
    background-color: #49CAC1;
}

.triangle-up-0 {
    width: 0;
    height: 0;
    border-left: 17rpx solid transparent;
    border-right: 17rpx solid transparent;
    border-bottom: 15rpx solid;
    border-bottom-color: #F55E68;
    opacity: 1;
    margin: 0 auto;
    margin-bottom: 24rpx;
    margin-top: 8rpx;
}

.triangle-up-1 {
    width: 0;
    height: 0;
    border-left: 17rpx solid transparent;
    border-right: 17rpx solid transparent;
    border-bottom: 15rpx solid;
    border-bottom-color: #707070;
    opacity: 1;
    margin: 0 auto;
    margin-bottom: 24rpx;
    margin-top: 8rpx;
}

.triangle-up-2 {
    width: 0;
    height: 0;
    border-left: 17rpx solid transparent;
    border-right: 17rpx solid transparent;
    border-bottom: 15rpx solid;
    border-bottom-color: #49CAC1;
    opacity: 1;
    margin: 0 auto;
    margin-bottom: 24rpx;
    margin-top: 8rpx;
}

::-webkit-scrollbar {
    width: 0;
    height: 0;
    color: transparent;
}

@-webkit-keyframes fadeIn {
	0% {
	    opacity: 0;
    }
    20% {
        opacity: .2;
    }
	50%{
		opacity: .5;
    }
	100% {
		opacity: 1; /*结尾状态 透明度为1*/
	}
}

.extend-tag-board {
    -webkit-animation-name: fadeIn; /*动画名称*/
	-webkit-animation-duration: 0.2s; /*动画持续时间*/
	-webkit-animation-iteration-count: 1; /*动画次数*/
	-webkit-animation-delay: 0s; /*延迟时间*/
}

.transparnt-view {
    position: absolute;
    right: 12%;
    background: linear-gradient(90deg, rgba(249, 249, 249, 0) 0%, #F9F9F9 100%);    z-index: 50;
    width: 8%;
    height: 60rpx;
}

.collapse-view-point {
    width: 12%;
    padding: 36rpx 46rpx 36rpx 28rpx;
}

.tag-choose-global-block {
    position: fixed;
    top: 147rpx;
    bottom: 0;
    right: 0;
    left: 0;
    background-color: #333333d1;
    display: flex;
    align-items: flex-end;
    align-content: center;
    z-index: 100;
}

.tag-choose-board {
    position: fixed;
    top: 147rpx;
    height: 411rpx;
    width: 100%;
    background: #F9F9F9;
    opacity: 1;
}

.extend-tag-btn-style {
    margin: 32rpx 0 0 22rpx;
    padding: 7rpx 8rpx 7rpx 8rpx;
    display: inline-block;
    font-size: 28rpx;
    width: 144rpx;
    height: 48rpx;
    border-radius: 30rpx;
    text-align: center;
    line-height: 48rpx;
}

.gray-card-area {
    overflow: hidden;
    margin: 16rpx 14rpx 0 16rpx;
    border-radius: 20rpx;
    background: white;
    width: 720rpx;
    height: 176rpx;
    box-shadow: 0rpx 2rpx 15rpx rgba(230, 230, 230, 0.4);
    opacity: 1;
    display: flex;
}

.gray-card-area:last-of-type {
    margin-bottom: 80rpx;
}

.recordinfo-global-block {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}

.record-info-left-block {
    display: flex;
    width: 660rpx;
    height: 176rpx;
    /* justify-content: space-between; */
}

.record-info-rigth-block {
    display: flex;
    height: 100%;
    position: relative;
    top: 16rpx;
    right: 4rpx;
}

.record-info-detail-block {
    margin: 0;
    width: 90%;
}

.record-title {
    display: block;
    width: 100%;
    /* line-height: 48rpx; */
    font-size: 28rpx;
    margin: 12rpx 0 4rpx 0;

    font-family: Source Han Sans CN;
    font-weight: 400;
    color: #3D3535;
    opacity: 1;
}

.record-subtitle {
    color: #B4B4B4;
    width: 95%;
    height: 32rpx;
    font-size: 24rpx;
    /* line-height: 41rpx; */
    margin-bottom: 16rpx;
    font-family: Source Han Sans CN;
    font-weight: 400;

    display:-webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
}

.record-subtitle-time {
    display: block;
    color: #B4B4B4;
    width: 100%;
    font-size: 24rpx;
    font-family: Source Han Sans CN;
    font-weight: 300;
    /* line-height: 48rpx; */
    margin: 0 0 16rpx 0;
    opacity: 1;
}

.record-rate-block {
    height: 23rpx;
    margin: 0 0 4rpx 0;
}

.ext-smt-star-wrap {
    margin-right: 16rpx;
    margin-bottom: 0 !important;
    width: 24rpx;
    height: 23rpx;
    opacity: 1;
}

.record-image-block {
    margin: 16rpx 16rpx 16rpx 17rpx;
}

.image-items {
    width: 144rpx;
    height: 144rpx;
    display: inline-block;
    border-radius: 20rpx;
}

.start-item {
    width: 24rpx;
    height: 23rpx;
}

.bottom-handle-block {
    position: fixed;
    bottom: 0;
    height: 244rpx;
    width: 100%;
}

.total-choose-text {
    font-size: 28rpx;
    font-family: Source Han Sans CN;
    font-weight: 400;
    line-height: 48rpx;
    color: #707070;
    opacity: 1;
    margin: 0 309rpx 0 304rpx;
    position: fixed;
    bottom: 188rpx;
}

.total-number-text {
    color: #F3546A;
}

.share-btn-style {
    position: fixed;
    bottom: 80rpx;
    width: 688rpx;
    height: 98rpx;
    background: #F55E68;
    box-shadow: 0rpx 8rpx 15rpx rgba(245, 94, 104, 0.65);
    opacity: 1;
    border-radius: 20rpx;
    margin: 0 30rpx 0 32rpx;

    font-size: 36rpx;
    font-family: Source Han Sans CN;
    font-weight: 500;
    line-height: 98rpx;
    color: #FFFFFF;
    text-align: center;
    align-items: center;
}

.scroll-transparent-bar {
    position: absolute;
    bottom: 0;
    background: linear-gradient(180deg, rgba(249, 249, 249, 0) 0%, #F9F9F9 100%);
    z-index: 50;
    width: 100%;
    height: 100rpx;
}

.check-on-0 {
    background-color: #F9E7E7;
}

.check-on-1 {
    background-color: #E6E6E6;
}

.check-on-2 {
    background-color: #E7F8F3;
}

.share-empty-choose {
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
    height: 60vh;
    width: 100%;
}

.share-empty-text {
    font-size: 32rpx;
    font-family: Source Han Sans CN;
    font-weight: 400;
    color: #B4B4B4;
}