page {
    height: 100%;
    overflow: hidden;
}

.wrap-global-block {
    height: 100%;
}

.gray-card-area {
    overflow: hidden;
    margin-bottom: 16rpx;
    background: white;
    width: 720rpx;
    margin-left: 15rpx;
    /* box-shadow: 0rpx 3rpx 20rpx rgba(0, 0, 0, 0.06); */
    /* border-radius: 20rpx; */
}

.card-scroll-view-style {
    height: 176rpx;
}

.red-card-area {
    overflow: hidden;
    margin: 0 14rpx 16rpx 16rpx;
    width: 690rpx;
    height: 176rpx;

    background: #F9E7E7;
    box-shadow: 0rpx 3rpx 10rpx rgba(245, 94, 104, 0.1);
    opacity: 1;
    border-radius: 20rpx;
}

.black-card-area {
    overflow: hidden;
    margin: 0 14rpx 16rpx 16rpx;
    width: 690rpx;
    height: 176rpx;

    background: #E6E6E6;
    box-shadow: 0rpx 3rpx 10rpx rgba(112, 112, 112, 0.1);
    opacity: 1;
    border-radius: 20rpx;
}

.blue-card-area {
    overflow: hidden;
    margin: 0 14rpx 16rpx 16rpx;
    width: 690rpx;
    height: 176rpx;

    background: #E7F8F3;
    box-shadow: 0rpx 3rpx 10rpx rgba(73, 202, 193, 0.1);
    opacity: 1;
    border-radius: 20rpx;
}

.userinfo-global-block {
    display: flex;
    height: 126rpx;
    /* justify-content: space-between; */
}

.userinfo-message {
    display: flex;
    /* justify-content: space-between; */
    align-items: center;
    width: 60%;
}

.userinfo-avatar {
    margin: 32rpx 16rpx 16rpx 16rpx;
    border-radius: 50%;
    width: 80rpx;
    height: 80rpx;
}

.userinfo-nickname {
    display: block;
    color: #3D3535;
    width: 300rpx;
    height: 24rpx;
    font-size: 24rpx;
    font-family: Source Han Sans CN;
    font-weight: 400;
    margin: 40rpx 0 16rpx 0;
}

.userinfo-time {
    display: block;
    color: #B4B4B4;
    width: 150rpx;
    height: 20rpx;
    font-size: 20rpx;
    font-family: Source Han Sans CN;
    font-weight: 400;
    opacity: 1;
}

.userinfo-block {
    margin: 0;
    height: 100%;
}

.userinfo-like {
    display: flex;
    justify-content: flex-end;
    width: 40%;
    /* background: #F55E68 url('../../images/tag/1.png') no-repeat top right; */
}

.button-box {
    display: flex;
    height: 100%;
    align-items: center;
    padding-right: 28rpx;
}

.custom-class-mixture {
    margin-right: 29rpx;
}

.card-area-block {
    margin-top: 8rpx;
    /* margin-bottom: 32rpx; */
}

.card-share-image {
    width: 32rpx;
    height: 32rpx;
}

.record-item {
    display: flex;
    width: 100%;
}

.record-item-subtitle {
    display: flex;
    width: 95%;
    color: #808080;
    margin-left: 30rpx;
    margin-bottom: 15rpx;
    /* margin-right: 30rpx; */
    /* white-space: pre-wrap; */
}

.record-item-img {
    display: flex;
    margin: 16rpx 16rpx 0 16rpx;
    border-radius: 50%;
    width: 48rpx;
    height: 48rpx;
    align-items: center;
    justify-content: center;
    opacity: 1;
}

.record-item-img-src {
    width: 48rpx;
    height: 48rpx;
    border-radius: 100%;
}

.record-item-text {
    display: flex;
    margin-top: 26rpx;
    align-items: center;
    justify-content: center;

    height: 28rpx;
    font-size: 28rpx;
    font-family: Source Han Sans CN;
    font-weight: 400;
    line-height: 28rpx;
    color: #3D3535;
    opacity: 1;
}

.record-item-image-cnt-block {
    display: flex;
    width: 40rpx;
    height: 24rpx;

    opacity: 1;
    border-radius: 4rpx;
    margin: 29rpx 0 0 15rpx;
    /* padding: 5rpx 6rpx 5rpx 6rpx; */
}

.record-item-multi-image {
    margin: 5rpx 6rpx 6rpx 6rpx;
    width: 13rpx;
    height: 14rpx;
}

.record-item-multi-image-cnt {
    width: 10rpx;
    height: 24rpx;
    font-size: 18rpx;
    font-family: Source Han Sans CN;
    font-weight: 400;
    line-height: 24rpx;
    color: #FFFFFF;
    letter-spacing: 100rpx;
    opacity: 1;
}

::-webkit-scrollbar {
    width: 0;
    height: 0;
    color: transparent;
}

.detail-view {
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    background-color: #333333d1;
    display: flex;
    align-items: flex-end;
    align-content: center;
    z-index: 100;
}

.detail-card-area {
    overflow: hidden;
    margin: 0 auto;
    position: fixed;
    top: 15%;
    left: 30rpx;
    border-radius: 20rpx;
    background: #FFF;
    display: block;
    width: 689rpx;
    height: 1008rpx;
    align-items: center;
    justify-content: space-between;
}

.detail-userinfo-global {
    width: 100%;
    display: flex;
}

.detail-userinfo-message {
    display: flex;
    /* justify-content: flex-start; */
    align-items: center;
    width: 60%;
}

.detail-swiper {
    height: 100%;
    border-radius: 8px 8px 0 0;
}

.detail-card-color-0 {
    background: #F9E7E7;
}

.detail-card-color-1 {
    background: #E6E6E6;
}

.detail-card-color-2 {
    background: #E7F8F3;
}

.detail-button-box {
    display: flex;
    justify-items: flex-end;
    height: 100%;
    align-items: center;
    padding-right: 32rpx;
}

.detail-record-item-img {
    display: flex;
    margin: 16rpx 16rpx 16rpx 17rpx;
    border-radius: 50%;
    width: 48rpx;
    height: 48rpx;
    align-items: center;
    justify-content: center;
    opacity: 1;
}

.detail-record-item-text {
    display: flex;
    margin-top: 26rpx;
    align-items: center;
    justify-content: center;

    height: 28rpx;
    font-size: 28rpx;
    font-family: Source Han Sans CN;
    font-weight: 400;
    line-height: 48rpx;
    color: #3D3535;
    opacity: 1;
}

.detail-record-item-subtitle {
    display: flex;
    width: 95%;
    margin: 16rpx 0 16rpx 17rpx;
    font-size: 24rpx;
    font-family: Source Han Sans CN;
    font-weight: 400;
    line-height: 41rpx;
    color: #707070;
    opacity: 1;
}

.image-items {
    width: 656rpx;
    /* height: 304rpx; */
    margin: 0 16rpx 8rpx 17rpx;
    display: inline-block;
    background: white;
}

.middle-split-line {
    width: 750rpx;
    height: 8rpx;
    background: #F5F5F5;
    opacity: 1;
}

.last-split-line {
    width: 750rpx;
    height: 0rpx;
    border: 1rpx solid #F5F5F5;
    opacity: 1;
    margin-top: 22rpx;
}

.comment-top-block {
    display: flex;
    justify-content: space-between;
    margin: 22rpx 30rpx 0 32rpx;
}

.comment-total-count {
    font-size: 28rpx;
    font-family: Source Han Sans CN;
    font-weight: 400;
    line-height: 48rpx;
    color: #B4B4B4;
    opacity: 1;
}

.comment-list-area {
    /* margin: 0 30rpx 0 0; */
    height: 300rpx;
}

.sort-icon-view {
    width: 32rpx;
    height: 48rpx;
    display: flex;
    align-items: center;
    justify-content: center;
}

.sort-icon-img {
    width: 32rpx;
    height: 25rpx;
    margin-top: 2rpx;
}

.comment-userinfo-message {
    display: flex;
    /* justify-content: space-between; */
    align-items: center;
    width: 60%;
    height: 80rpx;
    margin: 32rpx 30rpx 16rpx 32rpx;
}

.comment-userinfo-avatar {
    /* margin: 32rpx 16rpx 16rpx 32rpx; */
    margin-right: 16rpx;
    border-radius: 50%;
    width: 80rpx;
    height: 80rpx;
}

.comment-userinfo-block {
    margin: 0;
    height: 100%;
}

.comment-userinfo-nickname {
    display: block;
    color: #3D3535;
    width: 300rpx;
    height: 24rpx;
    font-size: 24rpx;
    font-family: Source Han Sans CN;
    font-weight: 400;
    margin: 8rpx 0 16rpx 0;
}

.comment-userinfo-time {
    display: block;
    color: #B4B4B4;
    width: 150rpx;
    height: 20rpx;
    font-size: 20rpx;
    font-family: Source Han Sans CN;
    font-weight: 400;
    opacity: 1;
}

.comment-detail-content-text {
    font-size: 28rpx;
    font-family: Source Han Sans CN;
    font-weight: 400;
    line-height: 48rpx;
    color: #3D3535;
    opacity: 1;
}

.comment-detail-content-block {
    margin: 0 0 36rpx 128rpx;
}

.comment-detail-last-split-line {
    margin-left: 128rpx;
    width: 592rpx;
    height: 0px;
    border: 1rpx solid #F5F5F5;
    opacity: 1;
}

.comment-publish-area {
    position: fixed;
    bottom: 0;
    height: 166rpx;
    width: 750rpx;
    display: flex;
    background-color: #FFFFFF;
    border-top: 1rpx solid #F5F5F5;
}

.comment-input-bottom-view {
    width: 592rpx;
    height: 64rpx;
    margin: 0 32rpx 0 32rpx;
}

.comment-input-bottom-style {
    display: flex;
    width: 100%;
    height: 64rpx;
    flex-direction:column;
    justify-content: center;
    background: #F5F5F5;
    border-radius: 12rpx;
    font-size: 28rpx;
    font-family: Source Han Sans CN;
    font-weight: 400;
    line-height: 48px;
    padding-left: 16rpx;
    opacity: 1;
    margin-top: 16rpx;
}

.comment-bottom-publish-btn {
    font-size: 32rpx;
    font-family: Source Han Sans CN;
    font-weight: 400;
    margin: 16rpx 10rpx 0 10rpx;
    color: #F55E68;
    opacity: 1;
    line-height: 54rpx;
}

.ext-comment-input-placehold {
    color: #B4B4B4;
}

.gradient-collapse-area {
    width: 592rpx;
    background: #F5F5F5;
    opacity: 1;
    border-radius: 10rpx;
    margin: 36rpx 30rpx 0 128rpx;
}

.comment-sub-user-text {
    font-size: 28rpx;
    font-family: Source Han Sans CN;
    font-weight: 400;
    line-height: 48rpx;
    color: #F55E68;
    opacity: 1;
}