page {
    height: 100%;
}

.wrap-global-block {
    height: 100%;
}

.notify-block {
    display: flex;
    width: 100%;
    min-height: 152rpx;
}

.notify-block:first-of-type {
    padding-top: 16rpx;
}

.notify-block-split-line {
    width: 592rpx;
    height: 0rpx;
    border: 1px solid #F5F5F5;
    opacity: 1;
    margin-left: 128rpx;
}

.notify-avatar-img {
    width: 80rpx;
    height: 80rpx;
    margin: 16rpx 16rpx 40rpx 32rpx;
    border-radius: 50%;
}

.notify-user-info-block {
    height: 100%;
    width: 450rpx;
}

.notify-username {
    width: 100%;
    height: 24rpx;
    font-size: 24rpx;
    font-family: Source Han Sans CN;
    font-weight: 500;
    /* line-height: 48rpx; */
    color: #3D3535;
    opacity: 1;
    margin: 16rpx 0 16rpx 0;
}

.notify-comment-content {
    width: 100%;
    font-size: 28rpx;
    font-family: Source Han Sans CN;
    font-weight: 400;
    /* line-height: 48rpx; */
    color: #3D3535;
    opacity: 1;
    margin: 16rpx 0 16rpx 0;
}

.notify-time-block {
    width: 100%;
    height: 20rpx;
    font-size: 20rpx;
    font-family: Source Han Sans CN;
    font-weight: 400;
    /* line-height: 48rpx; */
    color: #B4B4B4;
    opacity: 1;
    margin-bottom: 16rpx;
}

.notify-title-block {
    display: flex;
    width: 104rpx;
    height: 104rpx;
    opacity: 1;
    border-radius: 10rpx;
    margin: 16rpx 30rpx 0 40rpx;
    text-align: center;
    justify-content: center;
    align-items: center;
    position: relative;
}

.background-0 {
    background: #F9E7E7;
}

.background-1 {
    background: #707070;
}

.background-2 {
    background: #E7F8F3;
}

.notify-title {
    font-size: 24rpx;
    font-family: Source Han Sans CN;
    font-weight: 400;
    line-height: 26rpx;
    color: #3D3535;
    opacity: 1;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
}

.notify-new-radium {
    position: absolute;
    top: -2rpx;
    right: -2rpx;
    width: 14rpx;
    height: 14rpx;
    background: #F30000;
    border-radius: 50%;
    opacity: 1;
}

.notify-content-block {
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.notify-empty-text {
    font-size: 32rpx;
    font-family: Source Han Sans CN;
    font-weight: 400;
    color: #B4B4B4;
}